/.DS_Store
/.ipynb_checkpoints
/47633542_code.zip
/Tutorial on Text Summarization.docx
/code
/draft
/mei change code.pdf
/mei del football dataset.pdf
/old.pdf
/old2.pdf
/pics
/resources
/tut asm draft.docx
/tutorial_paper.pdf
/tutpaper_old.tex